In [1]:
import findspark
findspark.init("/usr/local/spark-2.3.0-bin-hadoop2.7/")

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("basics").getOrCreate()

In [4]:
df = spark.read.json("/Users/asapehrsson/dev/learn/hadoop_spark_jupyter/data/people.json")

In [9]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)